@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Create CSS Properties */
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
/* --------------------------------------------------- */
/* Reset */
* {
  /* to ensure all the container using webpage size and control margin and padding easily */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------------------------------------------- */

body {
  font-family: "Lato", sans-serif;
  color: #333;
  /* line-height to spread things out lil bit */
  line-height: 1.6;
}

ul {
  /* for without any bullet point */
  list-style-type: none;
}

a {
  /* to remove ugly underline on the link */
  text-decoration: none;
  color: #333;
}

/* setup the headings */
h1,
h2 {
  /* for making less bold */
  font-weight: 300;
  /* line-height for making pretty look */
  line-height: 1.2;
  /* setup margin top and bottom 10px and left right 0px */
  margin: 10px 0;
}

/* setup paragraph similiar to headings */
p {
  margin: 10px 0;
}

/* set the images that has width similiar to the parent container */
img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

/* Navbar Styling */
.navbar ul {
  display: flex;
}

/* styling the nav bar*/
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

/*  set the link into white color in the navbar   */
.navbar a {
  color: #fff;
  /* make a break on each items */
  padding: 10px;
  margin: 0 5px;
}

/* create a hover effect on the navbar */
.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/* if flex in the navbar, so it would be using space-between */
.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  /* to set the fontsize bigger for showcase */
  font-size: 40px;
}
.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  /* make it approach by percentage as the container grid */
  grid-template-columns: 55% 45%;
  gap: 30px;
  /* to setup the card height visible above showcase grid container */
  overflow: visible;
}

.showcase-form {
  /* setup & styling the form */
  /* relative to make this at the top of property */
  position: relative;
  /* to push down */
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  /* to ensure the card always position himself at the front */
  z-index: 100;
  /* to push the form to the right */
  justify-self: flex-end;
}

/* setup form control that wrap the input */
.showcase-form .form-control {
  /* separate the form */
  margin: 30px 0;
}

/* style the actual input and the button with targeting only input type "text and "email"*/
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  /* taking away the border */
  border: 0;
  /* instead changing just styled border bottom */
  border-bottom: 1px solid #b4becb;
  /* set the width into 100% so its go all the way across parent container */
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

/* taking out the original format of border when click input */
.showcase-form input:focus {
  outline: none;
}

/* Create the slice part: instead of adding new element on the html, we setup the pseoudo character */
.showcas::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  /* to occupy all web type and model, we setup prefix version the transform into several media webkit */
  /* for Chrome and Safari */
  -webkit-transform: skewY(-3deg);
  /* for Mozila */
  -moz-transform: skewY(-3deg);
  /* microsoft */
  -ms-transform: skewY(-3deg);
}
/* --------------------------------------------------- */
/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  /* to squize in the middle from major container */
  max-width: 500px;
  margin: auto;
}
/* decoring the stats h3 and paragraph */
.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* to expand the cli image on first 2 row and two colom */
/* using this ">" bracket to target everything(*) that in(:) the first-child */
.cli .grid > *:first-child {
  /* this grid column will fill from 1 and span untul column 2 */
  grid-column: 1 / span 2;
  /* then targeting the second part is spaning row */
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

/* setup the flex so the all card will move up when window resizes */
.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  /* to setup transition so the card on hover will move smoothly transition */
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* setup the hover to create an animation while hover the cards, hover up (using -px,) for hover down (using +px)*/
.languages .card:hover {
  transform: translateY(-15px);
}

/* Features */
.features-head img,
.docs-head img {
  width: 200px;
  /* this justify self will justify itself only and flex-end will push them into end of the grid container */
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  /* this justify self will justify itself only and flex-end will push them into end of the grid container */
  justify-self: flex-end;
}

.features-main .card > i {
  /* add the margin on the icon */
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  /* take span on the fisrt card across all three */
  grid-column: 1 / span 3;
}

/* target universal on next child by nth-child(this gonna be the child number) */
.features-main .grid > *:nth-child(2) {
  /* take span on the second card across all two */
  grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  /* make the first card 1 fr and second 2fr */
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  /* design the navigation */
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  /* create hover animation on the link */
  font-weight: bold;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

/* setup for media query */
/* Tablet and under */
@media (max-width: 768px) {
  /* to create only one colum */
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    /* to pushdown showcase in 1fr mode (mobile) */
    height: auto;
  }

  .showcase-text {
    /* set text to center */
    text-align: center;
    /* set margin to push down */
    margin-top: 40px;
  }

  .showcase-form {
    /* to set justify all element by itself */
    justify-self: auto;
    margin: auto;
  }

  /* instead of spanning we just set grid colum to 1 and grid row to 1 */
  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
